nav
{
    font-family: "Roboto", sans-serif;
    background-color: #4378a0;
    color: #fff;
    min-height: 50px;
}

.logo
{
    font-family: "Script MT";
    font-size: 30px;
    text-align: center;
    color: #888888;
}

.logo .logo-font
{
    color: #fff;
}

.nav-link
{
    text-decoration: none;
    color: #fff;
}

.nav-link:hover
{
    color: black;
}

li
{
    margin: 0px 15px;
}

.fa
{
    margin-right: 5px;
}